body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.c2a,
.media,
.info,
header{
    flex: 1;
    margin-left: 10rem;
    margin-right: 10rem;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header,
footer{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    flex: 0;
}

header{
    justify-content: flex-start;
}

header ul{
    margin-left: auto;
    gap: 16px;
}

.media,
.c2a{
    display: flex;
    margin-top: 8rem;
    margin-bottom: 8rem;
    align-items: center;
    justify-content: space-between;
}

.media .text{
    margin-right: 36px;
}

.media img{
    background-color: gray;
    flex: 0 0 auto;
    text-align: center;
}

.hero,
footer {
    align-self: stretch;
    background-color: #1F2937;
    color: #e5e7eb;
}

.hero strong{
    font-size: 48px;
    color: #F9FAF8;
}

.hero .text,
.right{
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

button,
.c2a{
    background-color: #3882f6;
    color: #F9FAF8;
    flex: 0 auto;
    border-radius: .5rem;
}

button{
    width: 14ch;
    font-weight: bold;
    padding: .5em 1.5em;
    border-style: none;
}

.info strong{
    padding: 32px 0;
    font-size: 36px;
    color: #1F2937;
}

.info,
.info li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info{
    flex: 1;
    padding: 0 0 75px;
}

.info li{
    margin: 18px;
    margin-top: 0;
    justify-content: center;
    flex-wrap: wrap;
}

.quote {
    flex: 1;
    align-self: stretch;
    padding: 8rem;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
}

.quote b{
    align-self: flex-end;
    font-size: 28px;
}

.c2a{
    padding: 1.5rem 4rem;
}

.c2a strong{
    font-size: 28px;
}

.c2a button{
    margin-left: 4rem;
    border-style: solid;
    border-color: #F9FAF8;
}

footer{
    justify-content: center;
}