body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header,
.footer{
    height: 75px;
    display: flex;
    align-items: center;
}

.header{
    justify-content: flex-start;
}

.header ul{
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero,
.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    width: 100%;
}

.hero strong{
    font-size: 48px;
    color: #F9FAF8;
}

.hero .text,
.right{
    font-size: 18px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 100px;
}

button,
.c2a{
    background-color: #3882f6;
}

.info strong{
    font-size: 36px;
    color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
}

.footer{
    justify-content: center;
}